body {
  background-color: black;
  padding-top: 130px;
}

body,html {
  width: 100%;
}

#mainContent {
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  background-image: url('cij.png');
  background-size: contain;
  padding: 0;
  width: 75%;
}

#novaleLogo {
  position: relative;
  background-image: url('novale2.png');
  background-size: cover;
  background-position: -90% 0;
  height: 883px;
}

#header {
  left: 90.5%;
  width: 100px;
}

#header .nav-link {
  color: #9F8F7C;
  font-weight: 100;
  transition: color 0.4s ease 0s;
}

#header .nav-link:hover {
  color: white;
  transition: color 0.4s;
}

#emailInput {
  background-color: #FAFAFA;
}

#emailInput {
  width: 100%;
  height: 600px;
}

#emailInput input, #emailInput button, #mainContent a {
  border: 3px solid #9F8F7C;
}

#emailInput h3 {
  font-family: "playfair display", serif;
  font-size: 2.1em;
}

#emailInput button, #mainContent a {
  background: #9F8F7C;
  transition: all 0.5s;
  font-weight: 500;
}

#footer {
  color: white;
  font-weight: 100;
}

/* Posiciona os textos e botões em cima do logo da novale */
#mainContent a {
  transform: translate(0, 220px);
}

#mainContent h1 {
  transform: translate(0, 200px);
}

#mainContent a:hover, #emailInput button:hover {
  border-color: #D4BEA5;
  background: #D4BEA5;
}

#mainContent h1 {
  font-family: "playfair display", serif;
  font-weight: 100;
  font-size: 66px;
  letter-spacing: 0.15em;
}

/* Tira o efeito do botão clicado do bootstrap */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover {
  box-shadow: none !important;
  outline: 0;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 880px) {

  /* Styles */
  #mainContent a {
    transform: translate(0px, 400px);
    margin-top: 50px;
  }

  #mainContent h1 {
    transform: translate(0, 350px);
  }


  body {
    padding-top: 0;
  }

  #mainContent {
    width: 100%;
  }

  #mainContent h1 {
    font-size: 50px;
  }

  #novaleLogo {
    background-position: 370% 0;
  }

  #header {
    left: 80%;
    width: 100px;
  }
}
